<div id="line-container">
	<div id="player-line"></div>
	<div id="line-box"></div>
</div>

<div class="" id="gv-content-container">


{{#sections}}
	<section class="facewall-section">

		 <h3>{{{head}}}</h3><!-- <span><img src="<%=path%>/assets/imgs/elipse-mask.svg" /></span> -->


		<div class="facewall-items-container">

				{{#items}}

					<div class="facewall-item" data-loaded="false" data-showed="false" data-id="{{{id}}}">

						<div class="item-photo-container">
							<div class="item-photo {{{spriteClass}}}" data-src="{{{photo_filename}}}"></div>
							<!-- <div class="item-flag" style="background-image:url(<%=path%>/assets/imgs/flags/{{{homeNation}}}.svg)"></div> -->
						</div>

						<div class="item-label-container">
				    		<p class="item-primary-label">{{{name}}}</p>
				    		<p class="item-secondary-label">{{{club}}} and {{{homeNation}}} </p>
				    	</div>

					</div>

				{{/items}}

		</div>
	</section>

	{{#ad}}
	<section class="ad-section">
		<div class="c-advert interactive-ad-banner" >
		    <div class="ad-wrapper--desktop hide-until-tablet">
			  <div 
			    id="dfp-ad--int-ad{{ad}}"
			    class="js-ad-slot ad-slot"
			    data-link-name="ad slot -ad{{ad}}" 
			    data-name="-ad{{ad}}"
			    data-tablet="1,1|2,2|300,250|fluid"
			    ></div>
			</div>

			<div class="ad-wrapper--mobile mobile-only">
			  <div
			    id="dfp-ad--ad{{ad}}"
			    class="js-ad-slot ad-slot"
			    data-link-name="ad slot -ad{{ad}}"
			    data-name="-ad{{ad}}"
			    data-mobile="1,1|2,2|300,250|fluid"
			    ></div>
			</div>
		</div>
	</section>
	{{/ad}}

{{/sections}}

</div>


<div class='detail-box' id='detail-box-container'> </div>

<div class='mobile-detail-box' id='mobile-detail-box-container'> </div>
