<footer id="gv-credits-container">
        <ul>
            <li>
                <strong>Profiles by</strong>
                <a href="https://www.theguardian.com/profile/gerardmeagher">Gerard Meagher</a>, 

            </li>
            <li>
                <strong>Editor</strong>
                <a href="https://www.theguardian.com/profile/tombryant">Tom Bryant</a>
            </li>
            <li>
                <strong>Photo editor</strong>
                <a href="https://www.theguardian.com/profile/daffydd-bynon">Daffydd Bynon</a> 
            </li>
            <li>
                <strong>Designer</strong>
                <a href="https://www.theguardian.com/profile/chrisfenn">Chris Fenn</a>
            </li>
        </ul>
</footer>