<div class="header-wrapper">
    <div class="header-container">
        
    <header>
        <div class="gv-head-img-one ">
                <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
        </div>

        <div class="gv-head-img-two ">
                <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
        </div>
        <div class="gv-head-img-three ">
                <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
        </div>

        <div class="gv-head-img-four ">
                <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
        </div>
        <div class="header-background">
            <!-- <div class="gv-head-col-one">
                <div class="wenger_co arsenal mgr-slide"><img src="./assets/imgs/rugby-co-1.png"></div>            
            </div> -->
           

             <div class="header-inner-container"> 

            
            <h1>British Lions 2017 squad</h1>
            <p><b>Gerard Meagher</b> takes you through the squad sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
            <ul>
                <li>Full coverage of the Lions tour on our <a href="https://www.theguardian.com/sport/rio-2016">dedicated site</a></li>
            </ul>
            
        </div>



        </div>


       
    </header>

</div>
</div>    


