<header>
        <div class="header-background">
            <div class="diamond-pattern size-s row-0 column-0 fill-grey filled">
                <img src="<%=path%>/assets/imgs/players/" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/" data-count="2" class="active-diamond"/>
            </div>
            <div class="diamond-pattern size-s row-0 column-8 fill-grey filled">
                <img src="<%=path%>/assets/imgs/players/" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/" data-count="2" class="active-diamond"/>
            </div> 
            <div class="diamond-pattern size-m row-0 column-13 fill-grey filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div> 

            <div class="diamond-pattern size-s row-2 column-4 fill-grey diamond-1 filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1" class="active-diamond"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div> 

            <div class="diamond-pattern size-s row-3 column-9 fill-grey diamond-4 filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div>

            <div class="diamond-pattern size-s row-4 column-2 fill-grey filled diamond-3">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div>

            <div class="diamond-pattern size-m row-5 column-11 fill-grey filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1" class="active-diamond"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div>



            <div class="diamond-pattern size-s row-6 column-0 fill-grey"></div>

            <div class="diamond-pattern size-m row-6 column-3 fill-grey  diamond-2 filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2" class="active-diamond" />
            </div>
            <div class="diamond-pattern size-s row-6 column-16 fill-grey filled">
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="1"/>
                <img src="<%=path%>/assets/imgs/players/Sam_Warburton.jpg" data-count="2"/>
            </div>

            <div class="diamond-pattern size-s row-8 column-8"></div>
        </div>
        <div class="header-inner-container">
            <h1>British Lions 2017 squad</h1>
            <h2>Our lowdown on the Lions squad touring New Zealand in June</h2>
            <ul>
                <li>Full coverage of the Lions tour on our <a href="https://www.theguardian.com/sport/rio-2016">dedicated site</a></li>
            </ul>
            <div class="gv-share-container">
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="email"></button>
            </div>
        </div>
    </header>