<div class="header-wrapper">

    <div class="header-col-two"></div>
    <div class="header-container">
        
        <header>
            <div class="gv-head-img-one ">
                    <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
            </div>

            <div class="gv-head-img-two ">
                    <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
            </div>
            <div class="gv-head-img-three ">
                    <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
            </div>

            <div class="gv-head-img-four ">
                    <!-- <img src="./assets/imgs/rugby-co-2.png">    -->       
            </div>
            <div class="header-background">
                <!-- <div class="gv-head-col-one">
                    <div class="wenger_co arsenal mgr-slide"><img src="./assets/imgs/rugby-co-1.png"></div>            
                </div> -->
               
            </div>


           
        </header>

    </div>

   <div class="header-inner-wrapper">
    <div class="header-inner-container">
           <div class="header-inner-main"> 

                    <div class="content__labels">
                            <div class="content__series-label content__series-label--immersive-article">
                                <a class="content__series-label__link" href="https://www.theguardian.com/sport/rugby-union" style="color:#FFF;">Rugby union</a>
                            </div>
                    </div>
                    <h1 class="content__headline content__headline--immersive content__headline--immersive--with-main-media content__headline--immersive-article standy-header">Lions 2017 squad:<br/>player-by-player guide</h1>
                    <p class="standfirst-para main-standfirst">From the Test team to the tour match side and all the reserves: full profiles of the players who will take on New Zealand this summer</p>
                    <p class="standfirst-para">by <span itemscope="" itemtype="http://schema.org/Person" itemprop="author"> <a rel="author" class="tone-colour u-underline" itemprop="sameAs" data-link-name="in standfirst link" href="https://www.theguardian.com/profile/gerard-meagher"><span itemprop="name" style="color:#FFF; cursor:pointer;">Gerard Meagher</span></a></span> and <a rel="author" class="tone-colour u-underline" itemprop="sameAs" data-link-name="in standfirst link" href="https://www.theguardian.com/profile/chrisfenn"><span itemprop="name" style="color:#FFF; cursor:pointer;">Chris Fenn</span></a></span></p>
                    
            </div>
        </div>
    </div>
</div>    


