<div class="share-wrapper">
    <div class="share-container">
        
        <div class="share-inner">

            <div class="share-inner-left"> 
                    <button class="interactive-share" data-network="facebook"></button>
                    <button class="interactive-share" data-network="twitter"></button>
                    <button class="interactive-share" data-network="email"></button>

            </div>
             <div class="share-inner-main"> 
                  <span class="time-stamp">17 April 2017</span>

            </div>

        </div>
    </div>
</div>    