[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/all-260.jpg'); background-size:910px 780px; width:260px; height:260px; }
.sprite-JonathanSexton { background-position:0 0; }
.sprite-AlunWynJones { background-position:-130px 0; }
.sprite-BenTeo { background-position:0 -130px; }
.sprite-CJStander { background-position:-130px -130px; }
.sprite-ConorMurray { background-position:-260px 0; }
.sprite-CourtneyLawes { background-position:-260px -130px; }
.sprite-DanBiggar { background-position:0 -260px; }
.sprite-DanCole { background-position:-130px -260px; }
.sprite-ElliotDaly { background-position:-260px -260px; }
.sprite-GeorgeKruis { background-position:-390px 0; }
.sprite-GeorgeNorth { background-position:-390px -130px; }
.sprite-IainHenderson { background-position:-390px -260px; }
.sprite-JackMcGrath { background-position:0 -390px; }
.sprite-JackNowell { background-position:-130px -390px; }
.sprite-JamieGeorge { background-position:-260px -390px; }
.sprite-JaredPayne { background-position:-390px -390px; }
.sprite-JoeMarler { background-position:-520px 0; }
.sprite-JonathanDavies { background-position:-520px -130px; }
.sprite-JonathanJoseph { background-position:-520px -260px; }
.sprite-AnthonyWatson { background-position:-520px -390px; }
.sprite-JustinTipuric { background-position:0 -520px; }
.sprite-KenOwens { background-position:-130px -520px; }
.sprite-KyleSinckler { background-position:-260px -520px; }
.sprite-LeighHalfpenny { background-position:-390px -520px; }
.sprite-LiamWilliams { background-position:-520px -520px; }
.sprite-MakoVunipola { background-position:-650px 0; }
.sprite-MaroItoje { background-position:-650px -130px; }
.sprite-OwenFarrell { background-position:-650px -260px; }
.sprite-PeterOMahony { background-position:-650px -390px; }
.sprite-RhysWebb { background-position:-650px -520px; }
.sprite-RobbieHenshaw { background-position:0 -650px; }
.sprite-RoryBest { background-position:-130px -650px; }
.sprite-RossMoriarty { background-position:-260px -650px; }
.sprite-SamWarburton { background-position:-390px -650px; }
.sprite-SeanOBrien { background-position:-520px -650px; }
.sprite-StuartHogg { background-position:-650px -650px; }
.sprite-TadhgFurlong { background-position:-780px 0; }
.sprite-TaulupeFaletau { background-position:-780px -130px; }
.sprite-TommySeymour { background-position:-780px -260px; }
