[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/all-240.jpg'); background-size:840px 720px; width:240px; height:240px; }
.sprite-JonathanJoseph { background-position:0 0; }
.sprite-AlunWynJones { background-position:-120px 0; }
.sprite-BenTeo { background-position:0 -120px; }
.sprite-CJStander { background-position:-120px -120px; }
.sprite-ConorMurray { background-position:-240px 0; }
.sprite-CourtneyLawes { background-position:-240px -120px; }
.sprite-DanBiggar { background-position:0 -240px; }
.sprite-DanCole { background-position:-120px -240px; }
.sprite-ElliotDaly { background-position:-240px -240px; }
.sprite-GeorgeKruis { background-position:-360px 0; }
.sprite-GeorgeNorth { background-position:-360px -120px; }
.sprite-GreigLaidlaw { background-position:-360px -240px; }
.sprite-IainHenderson { background-position:0 -360px; }
.sprite-JackMcGrath { background-position:-120px -360px; }
.sprite-JackNowell { background-position:-240px -360px; }
.sprite-JamesHaskell { background-position:-360px -360px; }
.sprite-JamieGeorge { background-position:-480px 0; }
.sprite-JaredPayne { background-position:-480px -120px; }
.sprite-JoeMarler { background-position:-480px -240px; }
.sprite-JonathanDavies { background-position:-480px -360px; }
.sprite-AnthonyWatson { background-position:0 -480px; }
.sprite-JonathanSexton { background-position:-120px -480px; }
.sprite-JustinTipuric { background-position:-240px -480px; }
.sprite-KenOwens { background-position:-360px -480px; }
.sprite-KyleSinckler { background-position:-480px -480px; }
.sprite-LeighHalfpenny { background-position:-600px 0; }
.sprite-LiamWilliams { background-position:-600px -120px; }
.sprite-MakoVunipola { background-position:-600px -240px; }
.sprite-MaroItoje { background-position:-600px -360px; }
.sprite-OwenFarrell { background-position:-600px -480px; }
.sprite-PeterOMahony { background-position:0 -600px; }
.sprite-RhysWebb { background-position:-120px -600px; }
.sprite-RobbieHenshaw { background-position:-240px -600px; }
.sprite-RoryBest { background-position:-360px -600px; }
.sprite-RossMoriarty { background-position:-480px -600px; }
.sprite-SamWarburton { background-position:-600px -600px; }
.sprite-SeanOBrien { background-position:-720px 0; }
.sprite-StuartHogg { background-position:-720px -120px; }
.sprite-TadhgFurlong { background-position:-720px -240px; }
.sprite-TaulupeFaletau { background-position:-720px -360px; }
.sprite-TommySeymour { background-position:-720px -480px; }
