.ad-section{
	width:100%;
	max-width:620px;
	background-color: #FFF;
	margin: $gs-baseline 0 gs-height(1) 0;


		@media(min-width:740px){
			background-color: $neutral-6;
		}

		@media(min-width:1140px){
			margin-left:160px;
		}

		@media(min-width:1300px){
			margin-left:260px;
		}
}



.ad-wrapper--desktop{
	display:none;
	margin: 0 auto gs-height(1) auto;
	z-index:5001 !important;

	@include mq(tablet){
		width:300px;
		display:flex;
		
		padding: $gs-baseline 0 gs-height(1);
	}

	@include mq(desktop){
		//margin-left:160px;
	}

	@include mq(wide){
		//margin-left:260px;
	}
}



.ad-wrapper--mobile{
	
	margin: 0 auto gs-height(1) auto;
	//padding:  0 0 gs-height(1);
	z-index:5000 !important;
	display:flex;

	@include mq(desktop){
		display:none;
	
	}


}