@include mq(mobileLandscape){

[class^='sprite-'], [class*=' sprite-'] { 


background-image:url('assets/imgs/teams/all-270.jpg'); 

background-size:945px 810px; width:270px; height:270px; }
.sprite-JonathanJoseph { background-position:0 0; }
.sprite-AlunWynJones { background-position:-135px 0; }
.sprite-BenTeo { background-position:0 -135px; }
.sprite-CJStander { background-position:-135px -135px; }
.sprite-ConorMurray { background-position:-270px 0; }
.sprite-CourtneyLawes { background-position:-270px -135px; }
.sprite-DanBiggar { background-position:0 -270px; }
.sprite-DanCole { background-position:-135px -270px; }
.sprite-ElliotDaly { background-position:-270px -270px; }
.sprite-GeorgeKruis { background-position:-405px 0; }
.sprite-GeorgeNorth { background-position:-405px -135px; }
.sprite-GreigLaidlaw { background-position:-405px -270px; }
.sprite-IainHenderson { background-position:0 -405px; }
.sprite-JackMcGrath { background-position:-135px -405px; }
.sprite-JackNowell { background-position:-270px -405px; }
.sprite-JamesHaskell { background-position:-405px -405px; }
.sprite-JamieGeorge { background-position:-540px 0; }
.sprite-JaredPayne { background-position:-540px -135px; }
.sprite-JoeMarler { background-position:-540px -270px; }
.sprite-JonathanDavies { background-position:-540px -405px; }
.sprite-AnthonyWatson { background-position:0 -540px; }
.sprite-JonathanSexton { background-position:-135px -540px; }
.sprite-JustinTipuric { background-position:-270px -540px; }
.sprite-KenOwens { background-position:-405px -540px; }
.sprite-KyleSinckler { background-position:-540px -540px; }
.sprite-LeighHalfpenny { background-position:-675px 0; }
.sprite-LiamWilliams { background-position:-675px -135px; }
.sprite-MakoVunipola { background-position:-675px -270px; }
.sprite-MaroItoje { background-position:-675px -405px; }
.sprite-OwenFarrell { background-position:-675px -540px; }
.sprite-PeterOMahony { background-position:0 -675px; }
.sprite-RhysWebb { background-position:-135px -675px; }
.sprite-RobbieHenshaw { background-position:-270px -675px; }
.sprite-RoryBest { background-position:-405px -675px; }
.sprite-RossMoriarty { background-position:-540px -675px; }
.sprite-SamWarburton { background-position:-675px -675px; }
.sprite-SeanOBrien { background-position:-810px 0; }
.sprite-StuartHogg { background-position:-810px -135px; }
.sprite-TadhgFurlong { background-position:-810px -270px; }
.sprite-TaulupeFaletau { background-position:-810px -405px; }
.sprite-TommySeymour { background-position:-810px -540px; }


}
