#detail-overlay-container{
		background:#fff;
		position: fixed;
		top:0;
		bottom:0;
		left:100%;
		width:calc(100% - 20px);
		max-width:460px;
		box-shadow:-2px 0 6px rgba(0,0,0,0.2);
		transition:transform 0.25s ease;
		-webkit-transition:transform 0.25s ease;
		transform:translateX(5%);
		z-index:10;
		&.opened{
			transform:translateX(-100%);
			&:before{
			    width: 20px;
			    height: 100%;
			    display: block;
			    content: '';
			    position: absolute;
			    left: -20px;
			}
		}
	}

	#detail-scroll-area{
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
	}
	.close-overlay-btn{
		width:44px;
		height:44px;
		background-color:#333;
		background-image: url('<%= path %>/assets/arrow.svg');
		border-radius:9999px;
		position: absolute;
		top: gs-height(1);
		left:-14px;
		background-size:60%;
		background-repeat:no-repeat;
		background-position:center;
		transform:rotate(180deg);
	}

	.mobile-detail-box{
		position: fixed;
		width:100%;
		height:100%;
		background:rgba(#FFF,0.95);
		left:$gs-gutter;
		top:0;
		margin: 0;
		padding: gs-height(2) $gs-gutter 0; 
		display:none;
		border-left: 1px solid #666;

	}

	#detail-box-container{
		position: absolute;
		right:20px;
		top:0;
		width:280px;
		transition:transform 0.2s;
		-webkit-transition:transform 0.2s;
		padding-top:0;
		padding-bottom:0;
		padding-left:20px;
		padding-right:10px;
		// padding-bottom:10px;
		background-color:#fff;
		border-left:1px solid #ddd;
		transform:translateY(1000px);
		-webkit-transform:translateY(1000px);
		@media(min-width:1300px){
			width:320px;
		}
		.item-photo{
			display: none;
		}
	}

	.detail-container{
		position: relative;
		width:100%;
		padding:20px 10px 0 40px;
		font-size:16px;
		line-height:1.5em;
	}

	.detail-item-container{
		h5{
			font-size:30px;
			font-weight:900;
			line-height: 1em;
			margin:0 0 6px;
		}
		ul{
			margin:0;
			padding:0;
			li{
				color:#767676;
				font-size:12px;
				font-family: $f-sans-serif-text;
				list-style: none;
				padding:0;
				margin:0;
				display: inline-block;
				vertical-align: top;
				margin-right:10px;
				line-height: 1em;
				margin-bottom:6px;
				strong{
					display:block;
				}
			}
		}
		.detail-item-description{
			font-family: $f-sans-serif-text;
			font-size:14px;
			line-height:18px;
			margin-bottom:0;
			margin-top:18px;
			clear:both;

		}
		&[data-loaded="true"]{

		}
		@media(min-width:480px){
			h5{
				@include fs-header(3);
				padding-top:$gs-baseline;
			}
			.detail-item-description{
				padding-top:12px;
			}
		}
	}
	.detail-section-container{
		border-top:1px solid #ddd;
		margin-bottom:90px;
		.detail-section-title{
			margin:0;
			font-family:$f-serif-headline;
			color:#ddd;
			padding-top:6px;
			margin-bottom:18px;
			font-size:18px;
		}
		.detail-item-container{
			margin-bottom:30px;
		}
	}

	#detail-overlay-container{
		.item-photo{
			width:90px;
			height:90px;
			border-radius:100px;
			margin-right:5px;
			background-size:cover;
			float:left;
		}
		.detail-item-container{
			h5{
				font-size:24px;
				padding-top:6px;
			}
			ul{
				margin-left:95px;
			}
		}
	}


	#line-container{
		position:absolute;
		left:-1000px;
		top:-1000px;
		#player-line{
			height:1px;
			width:30px;
			background:#ddd;
			background-size:100% 100%;
		}
		#line-box{
			position: absolute;
			top:0;
			left:30px;
			width:200px;
			height:100px;
			&:before{
				content:'';
				display:block;
				width:1px;
				height:100%;
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				background:#ddd;
				background-repeat:no-repeat;
				background-size:100% 100%;
			}
			&:after{
				content:'';
				display:block;
				width:100%;
				height:1px;
				position: absolute;
				bottom:0;
				right:0;
				left:0;
				background:#ddd;
				background-repeat:no-repeat;
				background-size:100% 100%;
			}
		}
	}


