footer{	
		padding:$gs-baseline 10px gs-height(1);
	
		border-top:1px solid #f1f1f1;
		margin-top:-6px;
		
		max-width:620px;

		@include mq(tablet){
				padding:$gs-baseline 20px gs-height(1);
			}
		ul{
			margin:0;
			padding:0;
			line-height:15px;
			li{
				font-family:$f-sans-serif-text;
				margin:0; padding:0;
				list-style:none;
				line-height:15px;
				font-size:12px;
				margin-bottom:6px;
				display:inline;
				color:#767676;
				strong{
					color:#333;
				}
				a{
					color:#767676;
				}
			}
		}
		@media(min-width:740px){
			padding-bottom:60px;
			ul{
				line-height:18px;
			}
			ul li{
				font-size:14px;
				line-height:18px;
			}
		}
		@media(min-width:1140px){
			padding:$gs-baseline 20px gs-height(1) 0;
			margin-top:-24px;
			margin-left:160px;
		}
		@media(min-width:1300px){
			margin-left:260px;
		}
	}