$header-bg: #b31010;//#ffbd00;
$header-support:#800c0c;
$bg-color-2: $neutral-4;//$news-main-2;

body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: rgba(51,51,51,0.05);
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    padding: 0;




    @each $bp in (leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}