$aniTime:18s;
$marginAniVal:60px;

.gv-head-img-one,
.gv-head-img-two, 
.gv-head-img-three,
.gv-head-img-four{
    position:absolute;
    top: 0;
    right: 0;
    height: $header-height-mobile;
    overflow: hidden;
    left:calc(51% - 10px);
    mix-blend-mode: screen;
    display:none;
    @include mq(desktop){
        height: $header-height;
        display:block;
    }
}

.gv-head-img-one {
	background:url('<%= path %>/assets/imgs/rugby-co-1.png');//linear-gradient(to bottom, $header-bg 0%,$header-bg 100%),
	background-blend-mode:multiply;
	background-repeat:no-repeat;
	background-size:contain;
    background-position:center bottom;
    width: 40%;
    opacity:0;
    animation: AniOne $aniTime ease-out infinite;
    // background-color: $news-main-1;
   
}

.gv-head-img-two {
	background:url('<%= path %>/assets/imgs/rugby-co-2.png');
	background-blend-mode:multiply;
	background-repeat:no-repeat;
	background-size:contain;
    background-position:center bottom;
    width: 40%;
    opacity:0;
    animation: AniTwo $aniTime ease-out infinite;

}

.gv-head-img-three {
	background:url('<%= path %>/assets/imgs/rugby-co-3.png');
	background-blend-mode:multiply;
	background-repeat:no-repeat;
	background-size:contain;
    background-position:center bottom;
    width: 40%;
    opacity:0;
    animation: AniThree $aniTime ease-out infinite;
    // background-color: $news-main-1;
   
}

.gv-head-img-four {
	background:url('<%= path %>//assets/imgs/rugby-co-4.png');
	background-blend-mode:multiply;
	background-repeat:no-repeat;
	background-size:contain;
    background-position:center bottom;
    width: 40%;
    opacity:0;
    animation: AniFour $aniTime ease-out infinite;

}



@keyframes AniOne {
    0% {
        opacity: 0;
        margin-left:$marginAniVal;
    }
    3% {
        opacity: 1;
        margin-left:0;
    }
   
    22% {
        opacity: 1;
        margin-left:0;
    }
    
    25% {
        opacity: 0;
        margin-left:0-$marginAniVal;
    }
 
    100% {
        opacity: 0;
    }
}

@keyframes AniTwo {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
        margin-left:$marginAniVal;
    }
    28% {
        opacity: 1;
         margin-left:0;
    }
    
    47% {
        opacity: 1;
        margin-left:0;
    }
 
    50% {
        opacity: 0;
        margin-left:0-$marginAniVal;
    }
}

@keyframes AniThree {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left:$marginAniVal;
    }
    53% {
        opacity: 1;
        margin-left:0;
    }
    
    72% {
        opacity: 1;
        margin-left:0;
    }
 
    75% {
        opacity: 0;
        margin-left:0-$marginAniVal;
    }
}

@keyframes AniFour {
     0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
        margin-left:$marginAniVal;
    }
    78% {
        opacity: 1;
        margin-left:0;
    }
    
    97% {
        opacity: 1;
        margin-left:0;
    }
 
    100% {
        opacity: 0;
        margin-left:0-$marginAniVal;
    }
}