@import "bower_components/guss-grid-system/_grid-system.scss";
@import 'bower_components/guss-colours/_colours';
@import 'bower_components/pasteup-palette/src/_palette';

@import "mq";
@import "fonts";
@import "palette";

@import "general";
@import "header";
@import "headerAni";
@import "facewall";
@import "footer";
// @import "diamonds";
@import "share";
@import "chart";
@import "detail";

// Uncomment for embeds
// @import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";



figure.element {
    margin: 0 !important; //FOR THE APP!!!
}

.interactive-container {
	color:#333;
	position: relative;
	*, * *{
		box-sizing:border-box;
	}


	&.detail-panel-opened{
		header{
			opacity:0.2;
		}
		.facewall-section{
			opacity:0.2;
		}
	}

	// h1{
	// 	font-size:42px;
	// 	line-height: 1em;
	// 	margin-top:24px;
	// 	margin-bottom:0;
	// }

	// h2{
	// 	margin-top:1em;
	// 	font-size:24px;
	// 	line-height:30px;
	// 	font-weight:100;
	// 	color:#333;
	// 	margin-bottom:6px;
	// }

	.header-inner-container{
		max-width:620px;
		border-bottom: 1px solid #f1f1f1;
		padding-bottom:6px;
		padding-top:1px;
		position: relative;
		margin-left:10px;
		margin-right:10px;
		z-index:5;

		&:after{
			clear:both;
			content:'';
			display: block;
		}
	}

	.gv-byline{
		font-size:14px;
		font-family:$f-serif-headline;
		line-height:18px;
		color:#767676;
		margin-top:0;
		margin-bottom:0;
	}


	#gv-content-container{
		margin-top: gs-height(1);

		padding:0 10px;

		@include mq(tablet){
			padding:0 20px;
		}

		@include mq(leftCol){
			padding:0;
		}

		h3{
			@include fs-header(4);
			margin-bottom: 3px;
		}
		
		p.section-description{
			font-size:18px;
			line-height:24px;
			color:#767676;
			margin:12px 0 24px;
			font-family: $f-serif-headline;
			font-weight:100;
		}

		@media(min-width:480px){
			h3{
				margin:0;
				span{
					position: relative;
					display: inline-block;
					left:0;
					top:0;
					margin-right:10px;
				}
			}
		}

		@media(min-width:740px){
			
			h3{
				// font-size:42px;
				span{
					width:43px;
				}
			}
			p.section-description{
				margin: 18px 0 36px;
			}
		}

		@media(min-width:980px){
			h3{
				// font-size:48px;
			}
			p.section-description{
				font-size:21px;
				line-height: 27px;
			}
		}
		@media(min-width:1140px){
			h3{
				// font-size:60px;
				span{
					width:60px;
				}
			}
			p.section-description{
				font-size:21px;
				line-height: 27px;
			}
		}
	}

	

	


}




// Uncomment for embeds
// @import "embed";

// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

// .element-atom,
// .interactive-atom {
//     margin: 0 !important;
// }

// 		h3{
// 			font-size:36px;
// 			line-height: 1em;
// 			margin:0;
// 			position: relative;
// 			margin-left:24px;
// 			font-weight:bold;
// 			span{
// 				width:37px;
// 				height:auto;
// 				background:#EA3E59;
// 				display: inline-block;
// 				line-height:0;
// 				font-size:0;
// 				padding:0;
// 				margin:0;
// 				position: absolute;
// 				left:-43px;
// 				top:4px;
// 				img{
// 					width:100%;
// 					padding:0;
// 					margin:0;
// 					display: block;
// 				}
// 				&:after{
// 					display: block;
// 					content:'';
// 					position: absolute;
// 					left:0;
// 					right:0;
// 					top:0;
// 					bottom:0;
// 					border:1px solid #fff;
// 				}
// 			}
// 		}
// 		p.section-description{
// 			font-size:18px;
// 			line-height:24px;
// 			color:#767676;
// 			margin:12px 0 24px;
// 			font-family: $f-serif-headline;
// 			font-weight:100;
// 		}

// 		@media(min-width:480px){
// 			h3{
// 				margin:0;
// 				span{
// 					position: relative;
// 					display: inline-block;
// 					left:0;
// 					top:0;
// 					margin-right:10px;
// 				}
// 			}
// 		}

// 		@media(min-width:740px){
// 			padding-top:60px;
// 			h3{
// 				font-size:36px;
// 				span{
// 					width:43px;
// 				}
// 			}
// 			p.section-description{
// 				margin: 18px 0 36px;
// 			}
// 		}

// 		@media(min-width:980px){
// 			h3{
// 				font-size:36px;
// 			}
// 			p.section-description{
// 				font-size:21px;
// 				line-height: 27px;
// 			}
// 		}
// 		@media(min-width:1140px){
// 			padding-top:84px;
// 			h3{
// 				font-size:60px;
// 				span{
// 					width:60px;
// 				}
// 			}
// 			p.section-description{
// 				font-size:21px;
// 				line-height: 27px;
// 			}
// 		}



// #line-container{
// 		position:absolute;
// 		left:-1000px;
// 		top:-1000px;
// 		#player-line{
// 			height:1px;
// 			width:30px;
// 			background:#ddd;
// 			background-size:100% 100%;
// 		}
// 		#line-box{
// 			position: absolute;
// 			top:0;
// 			left:30px;
// 			width:200px;
// 			height:100px;
// 			&:before{
// 				content:'';
// 				display:block;
// 				width:1px;
// 				height:100%;
// 				position: absolute;
// 				top:0;
// 				bottom:0;
// 				left:0;
// 				background:#ddd;
// 				background-repeat:no-repeat;
// 				background-size:100% 100%;
// 			}
// 			&:after{
// 				content:'';
// 				display:block;
// 				width:100%;
// 				height:1px;
// 				position: absolute;
// 				bottom:0;
// 				right:0;
// 				left:0;
// 				background:#ddd;
// 				background-repeat:no-repeat;
// 				background-size:100% 100%;
// 			}
// 		}
// 	}	


// #gv-content-container{
// 		padding-top:42px;
// 		h3{
// 			font-size:36px;
// 			line-height: 1em;
// 			margin:0;
// 			position: relative;
// 			margin-left:24px;
// 			font-weight:bold;
// 			span{
// 				width:37px;
// 				height:auto;
// 				background:#EA3E59;
// 				display: inline-block;
// 				line-height:0;
// 				font-size:0;
// 				padding:0;
// 				margin:0;
// 				position: absolute;
// 				left:-43px;
// 				top:4px;
// 				img{
// 					width:100%;
// 					padding:0;
// 					margin:0;
// 					display: block;
// 				}
// 				&:after{
// 					display: block;
// 					content:'';
// 					position: absolute;
// 					left:0;
// 					right:0;
// 					top:0;
// 					bottom:0;
// 					border:1px solid #fff;
// 				}
// 			}
// 		}
// 		p.section-description{
// 			font-size:18px;
// 			line-height:24px;
// 			color:#767676;
// 			margin:12px 0 24px;
// 			font-family: $f-serif-headline;
// 			font-weight:100;
// 		}

// 		@media(min-width:480px){
// 			h3{
// 				margin:0;
// 				span{
// 					position: relative;
// 					display: inline-block;
// 					left:0;
// 					top:0;
// 					margin-right:10px;
// 				}
// 			}
// 		}

// 		@media(min-width:740px){
// 			padding-top:60px;
// 			h3{
// 				font-size:42px;
// 				span{
// 					width:43px;
// 				}
// 			}
// 			p.section-description{
// 				margin: 18px 0 36px;
// 			}
// 		}

// 		@media(min-width:980px){
// 			h3{
// 				font-size:48px;
// 			}
// 			p.section-description{
// 				font-size:21px;
// 				line-height: 27px;
// 			}
// 		}
// 		@media(min-width:1140px){
// 			padding-top:84px;
// 			h3{
// 				font-size:60px;
// 				span{
// 					width:60px;
// 				}
// 			}
// 			p.section-description{
// 				font-size:21px;
// 				line-height: 27px;
// 			}
// 		}
// 	}
