[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/all-180.jpg'); background-size:630px 540px; width:180px; height:180px; }
.sprite-JonathanSexton { background-position:0 0; }
.sprite-AlunWynJones { background-position:-90px 0; }
.sprite-BenTeo { background-position:0 -90px; }
.sprite-CJStander { background-position:-90px -90px; }
.sprite-ConorMurray { background-position:-180px 0; }
.sprite-CourtneyLawes { background-position:-180px -90px; }
.sprite-DanBiggar { background-position:0 -180px; }
.sprite-DanCole { background-position:-90px -180px; }
.sprite-ElliotDaly { background-position:-180px -180px; }
.sprite-GeorgeKruis { background-position:-270px 0; }
.sprite-GeorgeNorth { background-position:-270px -90px; }
.sprite-IainHenderson { background-position:-270px -180px; }
.sprite-JackMcGrath { background-position:0 -270px; }
.sprite-JackNowell { background-position:-90px -270px; }
.sprite-JamieGeorge { background-position:-180px -270px; }
.sprite-JaredPayne { background-position:-270px -270px; }
.sprite-JoeMarler { background-position:-360px 0; }
.sprite-JonathanDavies { background-position:-360px -90px; }
.sprite-JonathanJoseph { background-position:-360px -180px; }
.sprite-AnthonyWatson { background-position:-360px -270px; }
.sprite-JustinTipuric { background-position:0 -360px; }
.sprite-KenOwens { background-position:-90px -360px; }
.sprite-KyleSinckler { background-position:-180px -360px; }
.sprite-LeighHalfpenny { background-position:-270px -360px; }
.sprite-LiamWilliams { background-position:-360px -360px; }
.sprite-MakoVunipola { background-position:-450px 0; }
.sprite-MaroItoje { background-position:-450px -90px; }
.sprite-OwenFarrell { background-position:-450px -180px; }
.sprite-PeterOMahony { background-position:-450px -270px; }
.sprite-RhysWebb { background-position:-450px -360px; }
.sprite-RobbieHenshaw { background-position:0 -450px; }
.sprite-RoryBest { background-position:-90px -450px; }
.sprite-RossMoriarty { background-position:-180px -450px; }
.sprite-SamWarburton { background-position:-270px -450px; }
.sprite-SeanOBrien { background-position:-360px -450px; }
.sprite-StuartHogg { background-position:-450px -450px; }
.sprite-TadhgFurlong { background-position:-540px 0; }
.sprite-TaulupeFaletau { background-position:-540px -90px; }
.sprite-TommySeymour { background-position:-540px -180px; }
