[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/all-130.jpg'); background-size:455px 390px; width:130px; height:130px; }
.sprite-JonathanJoseph { background-position:0 0; }
.sprite-AlunWynJones { background-position:-65px 0; }
.sprite-BenTeo { background-position:0 -65px; }
.sprite-CJStander { background-position:-65px -65px; }
.sprite-ConorMurray { background-position:-130px 0; }
.sprite-CourtneyLawes { background-position:-130px -65px; }
.sprite-DanBiggar { background-position:0 -130px; }
.sprite-DanCole { background-position:-65px -130px; }
.sprite-ElliotDaly { background-position:-130px -130px; }
.sprite-GeorgeKruis { background-position:-195px 0; }
.sprite-GeorgeNorth { background-position:-195px -65px; }
.sprite-GreigLaidlaw { background-position:-195px -130px; }
.sprite-IainHenderson { background-position:0 -195px; }
.sprite-JackMcGrath { background-position:-65px -195px; }
.sprite-JackNowell { background-position:-130px -195px; }
.sprite-JamesHaskell { background-position:-195px -195px; }
.sprite-JamieGeorge { background-position:-260px 0; }
.sprite-JaredPayne { background-position:-260px -65px; }
.sprite-JoeMarler { background-position:-260px -130px; }
.sprite-JonathanDavies { background-position:-260px -195px; }
.sprite-AnthonyWatson { background-position:0 -260px; }
.sprite-JonathanSexton { background-position:-65px -260px; }
.sprite-JustinTipuric { background-position:-130px -260px; }
.sprite-KenOwens { background-position:-195px -260px; }
.sprite-KyleSinckler { background-position:-260px -260px; }
.sprite-LeighHalfpenny { background-position:-325px 0; }
.sprite-LiamWilliams { background-position:-325px -65px; }
.sprite-MakoVunipola { background-position:-325px -130px; }
.sprite-MaroItoje { background-position:-325px -195px; }
.sprite-OwenFarrell { background-position:-325px -260px; }
.sprite-PeterOMahony { background-position:0 -325px; }
.sprite-RhysWebb { background-position:-65px -325px; }
.sprite-RobbieHenshaw { background-position:-130px -325px; }
.sprite-RoryBest { background-position:-195px -325px; }
.sprite-RossMoriarty { background-position:-260px -325px; }
.sprite-SamWarburton { background-position:-325px -325px; }
.sprite-SeanOBrien { background-position:-390px 0; }
.sprite-StuartHogg { background-position:-390px -65px; }
.sprite-TadhgFurlong { background-position:-390px -130px; }
.sprite-TaulupeFaletau { background-position:-390px -195px; }
.sprite-TommySeymour { background-position:-390px -260px; }
